.left_column {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
}

.right_column {
    background-color: var(--second-color);
    background-image: url('../assets/topography.svg');
    height: 100%;
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid black;
}

.titre_poste_groupe {
    display: flex;
    align-items: center;
}

.titre_poste {
    margin: 0 10px;
}

.presentation_poste {
    font-size: var(--title-font-size);
    margin-bottom: var(--mg-bottom);
}

.description {
    margin-bottom: var(--mg-bottom-div);
}

#barre {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--button-color), var(--paragraphe-color));
    width: 40px;
    height: 0;
}

.groupe_buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    width: 100%;
}

.buttons {
    z-index: 2;
    width : 100% ;
    display : flex ;
    flex-direction : row;
    align-items : center ;
}

.button {
    padding: 5px 15px;
}

.dessin_accompagnement {
    position: absolute;
    top: 0;
    left: 5%;
    background-image: url(../assets/Union.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

/*  */

.pics_avatar {
    height: 40vh;
    width: auto;
}

.icons {
    position: absolute;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.uil {
    font-size: var(--second-title-font-size);
    transition: 0.3s;
}

.uil:hover {
    color: var(--button-color);
}