#competences {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left_column_competences {
    background-color: var(--second-color);
    background-image: url(../assets/topography.svg);

    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
    border-right: 3px solid black;
}

#contenue_des_competences_left {
    background-color: var(--background-color);
    outline: 3px solid black;
    border-radius: 10px;
}

#contenue_des_competences_right {
    background-color: var(--second-color);
    outline: 3px solid black;
    border-radius: 10px;
}

.contenue_des_competences_skills {
    padding: 3rem 2rem;
}

/* .category_competences {
    height: 180px;
} */

.titre_fonction_competence {
    font-size: var(--second-title-font-size);
    margin-bottom: var(--mg-bottom-section);
}

.category_competences {
    margin-bottom: var(--mg-bottom-div);
}

.titre_competence {
    font-size: 25px;
    margin-bottom: var(--mg-bottom);
}

.contenue {
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenue_outils {
    display: flex;
    flex-wrap: wrap;
}

.container {
    border: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    width: 31%;
    background-color: var(--main-color);
    height: 36px;
}
  
.competences_skill {
    position: absolute;
    left: 5px;
}

.outils {
    background-color: var(--button-color);
    height: 34px;
    padding: 0 10px;
    margin-right: 10px;
}

.skills {
    padding: 5px 0;
    background-color: var(--button-color);
    text-align: right; /* Right-align text */
    color: var(--paragraphe-color); /* White text color */
}
/* 
 */

.html {width: 90%;} 
.css {width: 80%;} 
.js {width: 75%;}
.typescript {width: 55%;}
.sass {width: 85%;}
.tailwind {width: 50%;}
.react {width: 75%;}
.vue {width: 45%;}

.php {width: 40%;}
.python {width: 60%;} 
.django {width: 40%;}

/* 
 */

.right_column_competences {
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
}


/* MediaQuery */

@media only screen and (max-width : 1280px) {
    .contenue_des_competences_skills {
        padding: 1rem 1rem;
    }

    .container {
        width: 49%;
    }
}

@media only screen and (max-width : 834px) {
    #competences {
        display: flex;
        flex-direction: column;
    }


    .left_column_competences {
        width: 100vw;
        display: flex;
        align-items: center;
        border-left: 0;
        border-bottom: 3px solid black;
    }

    .right_column_competences {
        width: 100vw;
        display: flex;
        align-items: center;
    }

    #contenue_des_competences_left {
        margin: 7vh 0 2rem 0;
        height: 44vh;
        width: 80vw;
    }
    
    #contenue_des_competences_right {
        width: 80vw;
        height: 36vh;
    }

    .category_competences {
        margin-bottom: 0;
    }

    .contenue_des_competences_skills {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contenue {
        height: 60px;
    }

    .titre_fonction_competence {
        margin-bottom: 0;
    }
}

@media only screen and (max-width : 428px) {
    .left_column_competences {
        padding-top: 4rem;
        margin-bottom: 2rem;
    }

    #contenue_des_competences_left {
        height: 90vh;
        width: 80vw;
    }
    
    #contenue_des_competences_right {
        height: 50vh;
        width: 80vw;
    }

    .frontCompetence {
        margin-bottom: 90px;
    }

    .container {
        width: 100%;
    }

    .contenue_outils{
        gap: 0.5rem;
    }

    .titre_fonction_competence {
        font-size: var(--second-title-font-size-mb);
        margin-bottom: 10px;
    }

    .titre_competence {
         font-size: 20px;
         margin-bottom: 5px;
    }

    .competences_skill {
        font-size: 16px;
    }

    .skills {
        font-size: 14px;
    }
    
    .container {
        margin-bottom: 5px;
        height: 33px;
    }
}