#competences {
    display: flex;
    align-items: center;
}

.left_column_competences {
    background-color: var(--second-color);
    background-image: url(../assets/wiggle.svg);
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
    border-right: 3px solid black;
}

#contenue_des_competences_left {
    background-color: var(--background-color);
    outline: 3px solid black;
}

#contenue_des_competences_right {
    background-color: var(--second-color);
    outline: 3px solid black;
}

.contenue_des_competences_skills {
    padding: 3rem 0;
}

/* .category_competences {
    height: 180px;
} */

.titre_fonction_competence {
    font-size: var(--second-title-font-size);
    margin-bottom: var(--mg-bottom-section);
}

.category_competences {
    margin-bottom: var(--mg-bottom-div);
}

.titre_competence {
    font-size: 25px;
    margin-bottom: var(--mg-bottom);
}

.contenue {
    height: 85px;
    display: flex;
    flex-wrap: wrap;
}

.contenue_outils {
    display: flex;
    flex-wrap: wrap;
}

.container {
    border: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    width: 31%;
    background-color: var(--main-color);
    margin-right: 2%;
    height: 36px;
}
  
.competences_skill {
    position: absolute;
    left: 5px;
}

.outils {
    background-color: var(--button-color);
    height: 34px;
    padding: 0 10px;
    margin-right: 10px;
}

.skills {
    padding: 5px 0;
    background-color: var(--button-color);
    text-align: right; /* Right-align text */
    color: var(--paragraphe-color); /* White text color */
}
/* 
 */

.html {width: 90%;} 
.css {width: 80%;} 
.js {width: 75%;}
.typescript {width: 30%;}
.sass {width: 85%;}
.tailwind {width: 50%;}
.react {width: 75%;}
.vue {width: 45%;}

.php {width: 40%;}
.python {width: 60%;} 
.django {width: 35%;}

/* 
 */

.right_column_competences {
    position:absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
}