.left_column_contact {
    position:absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
}

.right_column_contact {
    background-color: var(--second-color);
    background-image: url(../assets/topography.svg);
    position:absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
    border-left: 3px solid var(--paragraphe-color);
}

.informations {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_contact {
    margin: var(--mg-bottom-div);

}

.infomations_contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.information {
    background-color: var(--main-color);
    position: relative;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 104px;
}

.icon_contact {
    position: absolute;
    left: 0;
    background-color: var(--second-color);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.text_informations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_info {
    font-weight: var(--second-title-font-weight);
}

/* 
 */

 .contact-us {
    height: 50vh;
    background-color: var(--background-color);
    outline: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 form {
    width: 80%;
    height: 100%;
 }

 .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 input, textarea {
    display: block;
    font-size: 20px;
    line-height: var(--paragraphe-size) * 2;
    padding: 5px 0 5px 5px;
    outline: none;
    color: rgba(0,0,0,1);
    resize: none;
    margin-bottom: var(--mg-bottom-div);
}

input {
  width: 32%;
  height: 3rem;
}

textarea {
  width: 100%;
}

#button {
  display: flex;
  justify-content: right;
 }

.fill {
  z-index:1;
  font-size: var(--paragraphe-size);
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 40px 10px;
  outline: 0; border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: var(--main-color);
}

.fill::after {
  content: "";
  background-color: var(--second-color);
  opacity: 0.6;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}
